# User-supplied / copyrighted inputs
*.nds
*.sav
*.dsv
*.bin
*.rom
firmware*.bin
bios*.bin

# Local prepared/generated data
local/
work/
generated/
build/
*.o
*.obj
*.exe
*.state
*.stt
*.png
*.bmp

# Python
__pycache__/
*.pyc
.venv/
